#cont{
    position: relative;
    width: 1902px;
    height: 910px;
    overflow: hidden;
    margin: auto;
}
.section{
    height: 910px;
    position: absolute;
    top: 1000px;
}
.section_show{
    top: 0;
}
.content_img{
    width: 1902px;
    height: 470px;
    margin: auto;
}
.Top{
    position: fixed;
    top: 0;
}