*{
    margin: 0;
    padding: 0;
}
.intro_img{
    width: 980px;
    height: auto;
    margin: 60px auto;
}
#banner{
    position: relative;
    width: 1902px;
    height: 550px;
    overflow: hidden;
    margin: auto;
}
#logo_img{
    width: 250px;
    position: absolute;
    display: inline;
    z-index: 100;
    bottom: 170px;
    right: 45%;
    opacity: 0.8;
}
#banner ul{
    position: absolute;
    list-style-type: none;
    opacity: 0.5;
    z-index: 50;
    bottom: 3px;
    right: 50%;
}
#banner ul li{
    padding: 0 5px;
    float: left;
    display: block;
    color: #000;
    background: #FFF;
    cursor: pointer;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
#banner ul li.on { background-color: gray; }
#banner_list a {
    position: absolute;
    cursor: default;
}

#nav{
    width: 1902px;
    height: 40px;
    margin: auto;
    display: block;
}
#nav ul{
    width: 980px;
    height: 50px;
    margin: auto;
    list-style: none;
}
#nav li{
    display: inline;
    float: left;
    padding-right: 50px;
}
#nav li:last-child{
    padding-right: 0;
}
.fixed {
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #000;
    background-color: aliceblue;
    opacity: 0.7;
}
#nav ul li.on { opacity: 0.5; }
#nav a{
    cursor: pointer;
}

#box{
    width: 1902px;
    height: 1px;
    margin: 25px auto;
}

#foor{
    width: 1902px;
    height: 470px;
    margin: 50px auto;
}
.foorer_end{
    width: 1902px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: black;
}
.foorer_end p,.foorer_end a{
    color: #FFFFFF;
}

